@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Lexend Deca", sans-serif;
}
input:focus {
  outline: none;
}
.container-main {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 660px) {
  .container {
    padding: 0 16px;
  }
}
.section-title {
    line-height: 48px;
}
@media screen and (max-width: 640px) {
    .section-title {
    line-height: 36px;
}
}
