.event-underline-title {
    position: relative;
}
.event-underline-title::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -15px;
    width: 30px;
    height: 4px;
    background-color: #1363df;
    border-radius: 6px;
}
.event-cont-right-box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}