.input-field::placeholder {
    font-weight: 300;
}
.input-field-message {
    font-weight: 300;
}
.contact-form-title {
    position: relative;
}
.contact-form-title::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    width: 40px;
    height: 4px;
    background-color: #1363df;
    border-radius: 10px;
}