.instructor-cta-item-1 {
    background: url('../../assets/our-instructor/quick_action01-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.instructor-cta-item-2 {
    background: url('../../assets/our-instructor/quick_action02-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
