@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Lexend Deca", sans-serif;
}
input:focus {
  outline: none;
}
.container {
  max-width: 1240px;
  padding: 0 20px;
}
@media screen and (max-width: 660px) {
  .container {
    padding: 0 16px;
  }
}
