.instructor-img-wrap {
    border-radius: 100px 100px 0 0;
    display: flex;
    justify-content: center;
}
.instructor-social-icons {
    bottom: 80px;
    right: 0px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    filter: blur(1px);
    transition: all 0.4s ease-in-out;
}
.instructor-social-share-icon:hover .instructor-social-icons {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    filter: blur(0);
}